﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Transport Plus</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Transport Plus Tracking</h2>
        <p>
            Transport Plus Tracking is a sample application to track Transport Plus vehicles.
        </p>
    </div>
    <div class="col-md-4">
        <h2>EF Core</h2>
        <p>Built with EF Core.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>Using ASP.NET MVC.</p>
        <p></p>
    </div>
</div>